@import './base.css';

#app {
  background-color: white;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 77, 51);
  transition: 0.4s;
  font-size: 1.35rem;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(116, 54%, 48%, 0.537);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    align-items: center;
  }
}
